@use '../src' as sb;

$palette: (
    light: (
        light: hsl(204, 10%, 98%),
        main: hsl(204, 10%, 92%),
        dark: hsl(204, 10%, 86%),
    ),
    dark: (
        light: hsl(204, 10%, 16%),
        main: hsl(204, 10%, 10%),
        dark: hsl(204, 10%, 4%),
    ),
    base: (
        light: hsl(204, 10%, 70%),
        main: hsl(204, 10%, 50%),
        dark: hsl(204, 10%, 30%),
    ),
    primary: (
        light: hsl(200, 95%, 70%),
        main: hsl(200, 95%, 48%),
        dark: hsl(200, 95%, 30%),
    ),
    secondary: (
        light: hsl(175, 80%, 60%),
        main: hsl(175, 80%, 38%),
        dark: hsl(175, 80%, 20%),
    ),
);

$sizes: (
    border: (
        xs: 1px,
        sm: 2px,
        md: 3px,
        lg: 4px,
        xl: 5px,
        2xl: 6px,
        3xl: 7px,
        4xl: 8px,
    ),
    space: (
        xs: 0.5rem,
        sm: 1rem,
        md: 1.5rem,
        lg: 2rem,
        xl: 3rem,
        2xl: 4rem,
        3xl: 5rem,
        4xl: 6rem,
    ),
    element: (
        xs: 8rem,
        sm: 10rem,
        md: 12rem,
        lg: 14rem,
        xl: 18rem,
        2xl: 22rem,
        3xl: 26rem,
        4xl: 30rem,
    ),
    screen: (
        xs: 40rem,
        sm: 44rem,
        md: 48rem,
        lg: 56rem,
        xl: 64rem,
        2xl: 72rem,
        3xl: 80rem,
        4xl: 88rem,
    ),
);

:root {
    @include sb.generate-palette($palette);
    @include sb.generate-sizes($sizes);
}

header {
    border-style: solid;
    @include sb.border(all border xs);

    @include sb.theme(dark) {
        @include sb.bg-color(primary, light);
        @include sb.font-color(dark, light);

        @include sb.border-color(all light main true);
        @include sb.border-opacity(all 1);

        @include sb.min-width(sm) {
            @include sb.bg-color(secondary, light);
            @include sb.font-color(dark, light, true);
        }
    }
}

main {
    width: sb.size(element, xs);
}

@include sb.theme-dark {
    body {
        @include sb.bg-color(dark, main);
        @include sb.font-color(light, main);
    }
}
