@use '../src' as sb;

$palette: (
    light: (
        100: 98% 0.01 204,
        200: 88% 0.01 204,
        300: 78% 0.01 204,
    ),
    dark: (
        100: 28% 0.01 204,
        200: 18% 0.01 204,
        300: 8% 0.01 204,
    ),
    base: (
        100: 68% 0.01 204,
        200: 58% 0.01 204,
        300: 48% 0.01 204,
    ),
    primary: (
        100: 68% 0.3 200,
        200: 58% 0.3 200,
        300: 48% 0.3 200,
    ),
    secondary: (
        100: 68% 0.3 175,
        200: 58% 0.3 175,
        300: 48% 0.3 175,
    ),
);

$sizes: (
    border: (
        xs: 1px,
        sm: 2px,
        md: 3px,
        lg: 4px,
        xl: 5px,
        2xl: 6px,
        3xl: 7px,
        4xl: 8px,
    ),
    space: (
        xs: 0.5rem,
        sm: 1rem,
        md: 1.5rem,
        lg: 2rem,
        xl: 3rem,
        2xl: 4rem,
        3xl: 5rem,
        4xl: 6rem,
    ),
    element: (
        xs: 8rem,
        sm: 10rem,
        md: 12rem,
        lg: 14rem,
        xl: 18rem,
        2xl: 22rem,
        3xl: 26rem,
        4xl: 30rem,
    ),
    screen: (
        xs: 40rem,
        sm: 44rem,
        md: 48rem,
        lg: 56rem,
        xl: 64rem,
        2xl: 72rem,
        3xl: 80rem,
        4xl: 88rem,
    ),
);

$fonts: (
    weight: (
        xs: 100,
        sm: 300,
        md: 400,
        lg: 500,
        xl: 700,
    ),
    family: (
        main: (
            "'Montserrat'",
            sans-serif,
        ),
        number: (
            "'Roboto Mono'",
            monospace,
        ),
    ),
);

:root {
    @include sb.generate-fonts($fonts);
    @include sb.generate-palette($palette);
    @include sb.generate-sizes($sizes);
}

* {
    @include sb.normalize;
}

body {
    @include sb.flex;
    @include sb.gap(y space md);
    min-height: 100vh;

    @include sb.bg-color(light, 100);
    @include sb.font-color(dark, 300);
}
@include sb.theme(dark) {
    @include sb.bg-color(dark, 300);
    @include sb.font-color(light, 100);
}

header {
    @include sb.bg-color(primary, 100);
    @include sb.padding(y space xs, x space sm);

    @include sb.theme(dark) {
        @include sb.bg-color(primary, 300);
    }
}

main {
    flex-grow: 1;

    & > div {
        @include sb.gap(all space xs);
        @include sb.grid(element, xl);
        @include sb.padding(all space xs);

        & > section {
            @include sb.bg-color(light, 200);
            @include sb.padding(all space xs);

            @include sb.theme(dark) {
                @include sb.bg-color(dark, 200);
            }
        }
    }
}

footer {
    @include sb.bg-color(secondary, 100);
    @include sb.padding(y space xs, x space sm);

    @include sb.theme(dark) {
        @include sb.bg-color(secondary, 300);
    }
}
