@use '../src' as sb;

header {
    @include sb.theme(dark) {
        background-color: blue;

        @include sb.min-width(sm) {
            background-color: white;
        }
    }
}

@include sb.theme-dark {
    body {
        background-color: red;
    }
}
